h2 {
  margin-top: 25px;
  font-weight: bold;
}

.color-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  margin-bottom: 20px;

  label {
    font-size: 14px;
  }
}

.upload-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 25px;
}

input[type="file"] {
  padding: 12px;
  background: var(--durazno);
  border-radius: 10px;
}
